/* footer */

#footer{
    padding: 50px 0 30px;

    hr{
        width: 100%;
        border: 0;
        border-top: 1px solid $themecolor;
    }
    .footer-row{
        @include flexbox(center);
        justify-content: space-between;
    }
    .footer-left-col{
        flex-basis: 50%;
        margin-top: 60px;
    }
    .footer-right-col{
        flex-basis: 35%;
    }
    .footer-links{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .footer-links h4{
        color: $themecolor;
        margin-bottom: 20px;
    }
    .footer-info{
        @include flexbox(flex-end);
        justify-content: space-between;
    }
    
    .footer-logo img{
        width: 100px;
    }
    .footer-logo button{
        padding: 12px 38px;
        margin-top: 20px;
        font-size: 10px;
    }
    .copyright-text, .footer-logo{
        flex-basis: 40%;
    }
}
/* footer */