#header{
    height: 100vh;
    background-image: url(../images/background.png);
    background-size: cover;
    background-position: center;

    .logo{
        margin-top: 30px;
        width: 100px;
    }
    .header-text{
        max-width: 350px;
        margin-top: 140px;
    }
    h1{
        font-size: 34px;
    }
    .header-text button{
        margin-top: 20px;
        margin-bottom: 60px;
    }
}